## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\Artsy\Desktop\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Condition
0,0,Cape Town,ZA,-33.9258,18.4232,59.38,71,0,11.99,clear sky
1,1,Kieta,PG,-6.2167,155.6333,78.24,84,6,4.25,clear sky
2,2,Goundam,ML,16.4145,-3.6708,85.41,44,100,4.68,overcast clouds
3,3,Yellowknife,CA,62.4560,-114.3525,63.12,77,100,9.22,overcast clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,59.43,56,94,8.66,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 65

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Condition
0,0,Cape Town,ZA,-33.9258,18.4232,59.38,71,0,11.99,clear sky
3,3,Yellowknife,CA,62.4560,-114.3525,63.12,77,100,9.22,overcast clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,59.43,56,94,8.66,overcast clouds
10,10,Yulara,AU,-25.2406,130.9889,51.76,72,0,9.19,clear sky
16,16,Dubrovytsya,UA,51.5744,26.5650,64.09,76,0,10.63,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID              175
City                 175
Country              171
Lat                  175
Lng                  175
Max Temp             175
Humidity             175
Cloudiness           175
Wind Speed           175
Current Condition    175
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_data = preferred_cities_df.dropna()

In [9]:
clean_data.count()

City_ID              171
City                 171
Country              171
Lat                  171
Lng                  171
Max Temp             171
Humidity             171
Cloudiness           171
Wind Speed           171
Current Condition    171
dtype: int64

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_data[["City", "Country", "Max Temp", "Current Condition", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(5)

,City,Country,Max Temp,Current Condition,Lat,Lng,Hotel Name
0,Cape Town,ZA,59.38,clear sky,-33.9258,18.4232,
3,Yellowknife,CA,63.12,overcast clouds,62.4560,-114.3525,
4,Port Alfred,ZA,59.43,overcast clouds,-33.5906,26.8910,
10,Yulara,AU,51.76,clear sky,-25.2406,130.9889,
16,Dubrovytsya,UA,64.09,clear sky,51.5744,26.5650,

In [14]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [17]:
clean_hotel_df.count()

City                 171
Country              171
Max Temp             171
Current Condition    171
Lat                  171
Lng                  171
Hotel Name           171
dtype: int64

In [19]:
clean_hotel_df.head()

,City,Country,Max Temp,Current Condition,Lat,Lng,Hotel Name
0,Cape Town,ZA,59.38,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
3,Yellowknife,CA,63.12,overcast clouds,62.4560,-114.3525,The Explorer Hotel
4,Port Alfred,ZA,59.43,overcast clouds,-33.5906,26.8910,The Halyards Hotel
10,Yulara,AU,51.76,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
16,Dubrovytsya,UA,64.09,clear sky,51.5744,26.5650,Druzhba

In [21]:
# 8a. Create the output File (CSV)
output_data_file = (r"C:\Users\Artsy\Desktop\World_Weather_Analysis\Weather_Database\Vacation_Search\WeatherPy_vacation.csv")
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Condition</dt<>dd>{Current Condition}</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
#Add a heat map of temperature for the vacation spots and a pop up marker for each city 

locations = hotel_df[["Lat","Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)



# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))