## Deliverable 3. Create a Travel Itinerary Map.

In [19]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [20]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\Artsy\Desktop\World_Weather_Analysis\Weather_Database\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Condition,Lat,Lng,Hotel Name
0,0,Cape Town,ZA,59.38,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
1,3,Yellowknife,CA,63.12,overcast clouds,62.4560,-114.3525,The Explorer Hotel
2,4,Port Alfred,ZA,59.43,overcast clouds,-33.5906,26.8910,The Halyards Hotel
3,10,Yulara,AU,51.76,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
4,16,Dubrovytsya,UA,64.09,clear sky,51.5744,26.5650,Druzhba

In [21]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Condition</dt<>dd>{Current Condition}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [22]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat","Lng"]]

max_temp = vacation_df["Max Temp"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Livingstonia")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Livingstonia")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Kalulushi")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Nakambala")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Chimoio")] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Condition,Lat,Lng,Hotel Name
48,229,Chimoio,MZ,61.32,clear sky,-19.1164,33.4833,Predio Livraria Ahmed

In [24]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'{start} {end} {stop1} {stop2} {stop3}')

(-10.606, 34.1063) (-10.606, 34.1063) (-12.8378, 28.0919) (-15.8324, 27.7799) (-19.1164, 33.4833)

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Condition,Lat,Lng,Hotel Name
0,374,Livingstonia,MW,62.37,broken clouds,-10.6060,34.1063,Stone House Guest House
1,173,Kalulushi,ZM,63.81,scattered clouds,-12.8378,28.0919,Nobutula Lodge
2,367,Nakambala,ZM,62.58,clear sky,-15.8324,27.7799,Staff Area
3,229,Chimoio,MZ,61.32,clear sky,-19.1164,33.4833,Predio Livraria Ahmed
4,374,Livingstonia,MW,62.37,broken clouds,-10.6060,34.1063,Stone House Guest House

In [29]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Condition</dt<>dd>{Current Condition}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [50]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat","Lng"]]

max_temp = itinerary_df["Max Temp"]

fig = gmaps.figure(center=(-20.0,40.0), zoom_level=3.5)


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


fig.add_layer(marker_layer)




# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))